{% extends "acu/acu_base.html" %}
{% load url from future %}

{% block breadcrumbs %}
    <span>Top</span>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Hello</h1>
        <div class="span-12">
            <form method="POST" action=".">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="span-11 error">
                        {{ form.errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="span-12">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="span-12 last">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum justo quis orci rutrum sagittis. Vivamus sit amet massa eget tortor consectetur pharetra eu vitae mauris. In mattis lobortis dui, eu aliquam enim commodo et. Pellentesque ac nibh arcu, non rhoncus metus. Maecenas lacinia facilisis lacinia. Sed malesuada leo id dui blandit gravida. Duis dapibus eros vitae erat faucibus fringilla. Donec ac turpis in erat malesuada ultricies id in nisl. Maecenas ipsum felis, tempor in ultricies convallis, ornare tristique libero. Cras sit amet varius nunc.</p>
            <p>Nulla id nibh urna. Nam eros nulla, ullamcorper eget convallis sed, placerat quis elit. Nunc ac libero nisi. Ut vestibulum consectetur varius. Cras egestas, augue nec varius hendrerit, nibh sem placerat dolor, nec suscipit nulla nisl at elit. Nullam congue lacus vitae sapien sollicitudin eu vehicula nisi viverra. Sed dapibus scelerisque mauris nec vestibulum. Aenean diam velit, tempus in ultricies in, molestie eu augue.</p>
            <p>Sed ut tellus justo, non laoreet ligula. Vivamus pulvinar sapien ac dolor feugiat ut egestas felis suscipit. Phasellus quis libero libero, in accumsan libero. Vivamus ultrices mollis mauris at blandit. Quisque orci dui, aliquet sed interdum adipiscing, dictum vitae orci. Nullam aliquam urna in lacus viverra at vulputate lorem ultricies. Aenean elementum lorem non sapien tempor lobortis. Praesent faucibus libero vitae urna vulputate sagittis. Quisque placerat placerat purus, non vestibulum est euismod eget. Suspendisse eget sapien vitae arcu hendrerit posuere.</p>
            <p>Aenean luctus commodo metus non laoreet. Nulla facilisi. Aenean tempor tincidunt mi, mollis condimentum erat gravida eu. Fusce varius nunc nec massa sagittis accumsan. Donec gravida ultrices tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tempus, odio id sollicitudin mollis, risus lorem condimentum nibh, id eleifend augue velit vitae massa. Duis et neque non ligula euismod euismod. Aenean consectetur ultrices magna, a consequat nulla tempus sit amet. Duis eleifend lobortis nibh, ac commodo nibh rutrum at. Praesent tempus, ante eu viverra tincidunt, ligula ligula adipiscing augue, et pellentesque nisi turpis id quam. Sed ultrices vestibulum massa, at imperdiet arcu pretium id.</p>
            <p>Aenean ultrices consequat mauris, sit amet tristique nisl rhoncus et. Nullam tristique rhoncus nibh eget congue. Ut a neque accumsan tortor sodales fringilla vitae nec enim. Proin eu nisi nibh, ac lacinia arcu. Curabitur tortor tortor, eleifend id vestibulum sed, eleifend ut neque. Etiam malesuada lorem sit amet eros vulputate pellentesque. Curabitur ullamcorper lectus sed massa laoreet elementum vel eu quam. Etiam id sem est. Nulla facilisis, magna nec rhoncus luctus, nisi urna cursus quam, quis dapibus turpis massa sit amet purus. Donec nec porttitor magna. Vestibulum aliquam mauris a urna consequat faucibus. Cras sed felis sed arcu faucibus laoreet quis vitae est. Aliquam erat volutpat. In hac habitasse platea dictumst. Etiam eu felis in urna tincidunt posuere eu vitae leo. Mauris ullamcorper dapibus lorem, feugiat aliquam augue adipiscing id.</p>
        </div>
    </div>
{% endblock %}