{% load url from future %}
<{% block doctype %}!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"{% endblock doctype %}>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ACU Matchday</title>

    {% block base-css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css" />
    {% endblock %}

    {% block base-js %}
        <script type="text/javascript" src="{{ STATIC_URL }}acu/js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}acu/js/jquery-ui.js"></script>
    {% endblock %}

    {% block css %}{% endblock %}

    {% block js %}{% endblock %}
</head>
<body>
{% autoescape on %}

    {% block body %}
    {% endblock %}

{% endautoescape %}
</body>
</html>